.audio {
    background-color: grey;
    /* border-radius: 30px;  */
    border: 2.5px solid grey;
    border-style: dotted;
    padding: 20px;
    margin-top: 5px;    /* 上邊距 */
    margin-right: 15px;  /* 右邊距 */
    margin-bottom: 10px; /* 下邊距 */
    margin-left: 10px;    /* 左邊距 */
  }

body {
    position: relative;
    height: 100vh; /* 确保 body 佔滿整個視窗高度 */
}
.audio-container {
    position: absolute;
    width: 230px; /* 音频元素宽度 */
}
.audio-number {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}
.audio {
    width: 100%;
}

body{
    background-color: #f5f5f5;
    color: grey;
    font-family: Flux-Bold, Helvetica, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 2rem;
}

#back-button{
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 10px;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 25px;
}

/* #back-button:hover{
    background-color: #d0d2d4;
} */

#back-button{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

#back-button {
    border: none;
    color: #000;
    font-family: Helvetica, sans-serif;
    font-style: normal;
  }
/* 
  #back-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  #back-button:hover {
    color: #000;
  }
  #back-button:hover:after {
    left: 0;
    right: 0;
    width: 100%;
  }

   */